@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = "Albums";
}

<table class="table">
    <tbody>
    @foreach (var album in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("View", "Album", new {id = album.Id}, null)">
                    @album.Name
                </a>
            </td>
            <td>
                @album.PictureCount
            </td>
        </tr>
    }
    </tbody>
</table>