@model AlbumViewModel

@{
    ViewData["Title"] = @Model.Name;
}

<div class="pic photolist">
    @{
        foreach (var picture in Model.Pictures)
        {
            <a href="@Url.Action("View", "Picture", new { id = picture.Id })" data-text="@picture.AlbumName">
                <img src="~/pictures/thumbnail/@Model.Name/@picture.FileName" Type="Thumbnail" />
            </a>
        }
    }
</div>