@model AlbumViewModel

@{
    ViewData["Title"] = "Album";
}

<div class="title" itemscope itemtype="http://schema.org/ListItem" itemprop="itemListElement">
    <h2 itemscope itemtype="http://schema.org/Thing" itemprop="item">
        <span itemprop="name">@Model.Name</span>
    </h2>
    <meta itemprop="position" content="2" />
</div>


<div class="pic photolist">
    @{
        foreach (var picture in Model.Pictures)
        {
            <a href="@Url.Action("View", "Picture", new { id = picture.Id })" data-text="@picture.AlbumName">
                <img src="~/pictures/thumbnail/@Model.Name/@picture.FileName" Type="Thumbnail" />
            </a>
        }
    }
</div>