@model IEnumerable<YearViewModel>

@{
    ViewData["Title"] = "Years";
}

<table class="table">
    <tbody>
    @foreach (var year in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Year", "Home", new {year = year.Year}, null)">
                    @year.Year
                </a>
            </td>
            <td>
                @year.PictureCount pictures
            </td>
        </tr>
    }
    </tbody>
</table>