@model IEnumerable<PictureViewModel>

@{
    ViewData["Title"] = "UPictures";
    var monthNames = new []{"January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"};
    var pictureMonth = Model.FirstOrDefault().DateTaken.Month;
    var pictureYear = Model.FirstOrDefault().DateTaken.Year;
    ViewData["TitleName"] = monthNames[pictureMonth - 1] + $", {pictureYear}";
    ViewData["TitleLink"] = Url.Action("Year", "Home", new { year = pictureYear }, null);
}

<div class="pic photolist">
    @{
        foreach (var picture in Model)
        {
            <a href="@Url.Action("View", "Picture", new { id = picture.Id })" data-text="@picture.DirectoryName">
                <img src="~/pictures/thumbnail/@picture.DirectoryName/@picture.FileName" Type="Thumbnail" />
            </a>
        }
    }
</div>