@model IEnumerable<PictureViewModel>

@{
    ViewData["Title"] = "Pictures";
}

@{ var pictureYear=Model.FirstOrDefault().DateTaken.Year; }

<a href="@Url.Action("Year", "Home", new {year = pictureYear}, null)">@pictureYear</a>

<div class="pic photolist">
    @{
        foreach (var picture in Model)
        {
            <a href="@Url.Action("View", "Picture", new { id = picture.Id })" data-text="@picture.DirectoryName">
                <img src="~/pictures/thumbnail/@picture.DirectoryName/@picture.FileName" Type="Thumbnail" />
            </a>
        }
    }
</div>